In [1]:
students = ['sures','kishore','santhosh','mamatha','deepan','pradeep','rakesh','chetan']

In [2]:
print(students)

['sures', 'kishore', 'santhosh', 'mamatha', 'deepan', 'pradeep', 'rakesh', 'chetan']

In [3]:
print(sorted(students))

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [4]:
print(students)

['sures', 'kishore', 'santhosh', 'mamatha', 'deepan', 'pradeep', 'rakesh', 'chetan']

In [5]:
students.sort()

In [6]:
print(students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [7]:
print(students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [8]:
len(students)

8

In [12]:
for x in students:
    if x == 'rakesh':
        print(x.upper())
    else:
        print(x.title())

Chetan
Deepan
Kishore
Mamatha
Pradeep
RAKESH
Santhosh
Sures

In [13]:
print(students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [15]:
print(students[0:2])

['chetan', 'deepan']

In [16]:
print (students[2:4])

['kishore', 'mamatha']

In [20]:
print(students[6:8])

['santhosh', 'sures']

In [21]:
print (students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [22]:
print(students[0:8:3])

['chetan', 'mamatha', 'santhosh']

In [23]:
print(students[0:8:4])

['chetan', 'pradeep']

In [24]:
print(students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [25]:
print(students[7])

sures

In [26]:
print(students[-1])

sures

In [27]:
print(students[-2])

santhosh

In [29]:
print(students)

['chetan', 'deepan', 'kishore', 'mamatha', 'pradeep', 'rakesh', 'santhosh', 'sures']

In [30]:
print(students[::-1])

['sures', 'santhosh', 'rakesh', 'pradeep', 'mamatha', 'kishore', 'deepan', 'chetan']